* text=auto !eol
/Changelog -text
/Copying.txt -text
/Install.txt -text
/Makefile -text
/Not_so_obvious_things.txt -text
/Readme.txt -text
/Release_notes.txt -text
/clean_windows.bat -text
/compile_windows.bat -text
/create_deb.sh -text
debian-rvm/README -text
debian-rvm/README.Debian -text
debian-rvm/changelog-orig -text
debian-rvm/compat -text
debian-rvm/control -text
debian-rvm/copyright -text
debian-rvm/cron.d.ex -text
debian-rvm/dirs -text
debian-rvm/docs -text
debian-rvm/emacsen-install.ex -text
debian-rvm/emacsen-remove.ex -text
debian-rvm/emacsen-startup.ex -text
debian-rvm/init.d.ex -text
debian-rvm/manpage.1.ex -text
debian-rvm/manpage.sgml.ex -text
debian-rvm/manpage.xml.ex -text
debian-rvm/menu -text
debian-rvm/postinst.ex -text
debian-rvm/postrm.ex -text
debian-rvm/preinst.ex -text
debian-rvm/prerm.ex -text
debian-rvm/rules -text
debian-rvm/smplayer-default.ex -text
debian-rvm/smplayer.doc-base.EX -text
debian-rvm/watch.ex -text
docs/de/gpl.html -text
docs/en/faq.html -text
docs/en/gpl.html -text
docs/es/gpl.html -text
docs/ja/faq.html -text
docs/ja/gpl.html -text
docs/ro/gpl.html -text
docs/ru/faq.html -text
docs/ru/gpl.html -text
/get_svn_revision.sh -text
getrev/compile.bat -text
getrev/getrev.pro -text
getrev/main.cpp -text
icons/smplayer_icon16.png -text
icons/smplayer_icon22.png -text
icons/smplayer_icon32.png -text
icons/smplayer_icon64.png -text
man/smplayer.1 -text
old-txt/Configurable_shortcuts.txt -text
old-txt/Icon_themes.txt -text
old-txt/Porting_log.txt -text
old-txt/Release_notes.txt -text
old-txt/Translations.txt -text
setup/Readme.txt -text
setup/install_smplayer.bat -text
setup/smplayer.iss -text
setup/smplayer_codecs.iss -text
setup/smplayer_lite.iss -text
/smplayer.desktop -text
/smplayer.spec -text
src/3rdparty/qxtfilelock.cpp -text
src/3rdparty/qxtfilelock.h -text
src/3rdparty/qxtfilelock_p.h -text
src/3rdparty/qxtfilelock_unix.cpp -text
src/3rdparty/qxtfilelock_win.cpp -text
src/3rdparty/qxtglobal.h -text
src/3rdparty/qxtpimpl.h -text
src/about.cpp -text
src/about.h -text
src/about.ui -text
src/actionseditor.cpp -text
src/actionseditor.h -text
src/basegui.cpp -text
src/basegui.h -text
src/baseguiplus.cpp -text
src/baseguiplus.h -text
src/clhelp.cpp -text
src/clhelp.h -text
src/corelib/config.h -text
src/corelib/constants.h -text
src/corelib/core.cpp -text
src/corelib/core.h -text
src/corelib/desktopinfo.cpp -text
src/corelib/desktopinfo.h -text
src/corelib/global.cpp -text
src/corelib/global.h -text
src/corelib/helper.cpp -text
src/corelib/helper.h -text
src/corelib/infoprovider.cpp -text
src/corelib/infoprovider.h -text
src/corelib/mediadata.cpp -text
src/corelib/mediadata.h -text
src/corelib/mediasettings.cpp -text
src/corelib/mediasettings.h -text
src/corelib/mplayerprocess.cpp -text
src/corelib/mplayerprocess.h -text
src/corelib/mplayerversion.cpp -text
src/corelib/mplayerversion.h -text
src/corelib/mplayerwindow.cpp -text
src/corelib/mplayerwindow.h -text
src/corelib/myprocess.cpp -text
src/corelib/myprocess.h -text
src/corelib/preferences.cpp -text
src/corelib/preferences.h -text
src/corelib/screensaver.cpp -text
src/corelib/screensaver.h -text
src/corelib/smplayercore.pro -text
src/corelib/smplayercorelib.cpp -text
src/corelib/smplayercorelib.h -text
src/corelib/subtracks.cpp -text
src/corelib/subtracks.h -text
src/corelib/trackdata.cpp -text
src/corelib/trackdata.h -text
src/corelib/tracks.cpp -text
src/corelib/tracks.h -text
src/defaultgui.cpp -text
src/defaultgui.h -text
src/encodings.cpp -text
src/encodings.h -text
src/eqslider.cpp -text
src/eqslider.h -text
src/eqslider.ui -text
src/errordialog.cpp -text
src/errordialog.h -text
src/errordialog.ui -text
src/extensions.cpp -text
src/extensions.h -text
src/filedialog.cpp -text
src/filedialog.h -text
src/filepropertiesdialog.cpp -text
src/filepropertiesdialog.h -text
src/filepropertiesdialog.ui -text
src/floatingwidget.cpp -text
src/floatingwidget.h -text
src/guiconfig.h -text
src/icons-png/angle.png -text
src/icons-png/aspect.png -text
src/icons-png/audio_channels.png -text
src/icons-png/audio_filters.png -text
src/icons-png/audio_track.png -text
src/icons-png/background.png -text
src/icons-png/bola.xcf -text
src/icons-png/brightness.png -text
src/icons-png/cdda.png -text
src/icons-png/cdrom_drive.png -text
src/icons-png/chapter.png -text
src/icons-png/cl_help.png -text
src/icons-png/close.png -text
src/icons-png/compact.png -text
src/icons-png/conflict.png -text
src/icons-png/contrast.png -text
src/icons-png/contributors.png -text
src/icons-png/copy.png -text
src/icons-png/delete.png -text
src/icons-png/down.png -text
src/icons-png/dvd.png -text
src/icons-png/dvd_drive.png -text
src/icons-png/dvd_hd.png -text
src/icons-png/equalizer.png -text
src/icons-png/exit.png -text
src/icons-png/faq.png -text
src/icons-png/flecha.xcf -text
src/icons-png/forward10m.png -text
src/icons-png/forward10s.png -text
src/icons-png/forward1m.png -text
src/icons-png/fullscreen.png -text
src/icons-png/gamma.png -text
src/icons-png/hue.png -text
src/icons-png/info.png -text
src/icons-png/input_devices.png -text
src/icons-png/instance1.png -text
src/icons-png/instance2.png -text
src/icons-png/keyboard.png -text
src/icons-png/license.png -text
src/icons-png/logo.png -text
src/icons-png/logs.png -text
src/icons-png/minus.png -text
src/icons-png/monitor.png -text
src/icons-png/mouse.png -text
src/icons-png/mute.png -text
src/icons-png/next.png -text
src/icons-png/ok.png -text
src/icons-png/ontop.png -text
src/icons-png/open.png -text
src/icons-png/open_playlist.png -text
src/icons-png/openfolder.png -text
src/icons-png/osd.png -text
src/icons-png/pause.png -text
src/icons-png/play.png -text
src/icons-png/playlist.png -text
src/icons-png/plus.png -text
src/icons-png/pref_advanced.png -text
src/icons-png/pref_associations.png -text
src/icons-png/pref_devices.png -text
src/icons-png/pref_general.png -text
src/icons-png/pref_gui.png -text
src/icons-png/pref_performance.png -text
src/icons-png/pref_subtitles.png -text
src/icons-png/prefs.png -text
src/icons-png/previous.png -text
src/icons-png/qt.png -text
src/icons-png/repeat.png -text
src/icons-png/resize_window.png -text
src/icons-png/rewind10m.png -text
src/icons-png/rewind10s.png -text
src/icons-png/rewind1m.png -text
src/icons-png/rotate.png -text
src/icons-png/saturation.png -text
src/icons-png/save.png -text
src/icons-png/screenshot.png -text
src/icons-png/shuffle.png -text
src/icons-png/speaker.png -text
src/icons-png/speed.png -text
src/icons-png/stereo_mode.png -text
src/icons-png/stop.png -text
src/icons-png/sub.png -text
src/icons-png/title.png -text
src/icons-png/toolbars.png -text
src/icons-png/translators.png -text
src/icons-png/type_audio.png -text
src/icons-png/type_cdda.png -text
src/icons-png/type_dvd.png -text
src/icons-png/type_unknown.png -text
src/icons-png/type_url.png -text
src/icons-png/type_vcd.png -text
src/icons-png/type_video.png -text
src/icons-png/unload.png -text
src/icons-png/up.png -text
src/icons-png/url.png -text
src/icons-png/url_big.png -text
src/icons-png/vcd.png -text
src/icons-png/video_filters.png -text
src/icons-png/video_size.png -text
src/icons-png/volume.png -text
src/icons-png/warning.png -text
src/icons.qrc -text
src/images.cpp -text
src/images.h -text
src/infofile.cpp -text
src/infofile.h -text
src/inforeader.cpp -text
src/inforeader.h -text
src/input.conf -text
src/inputdvddirectory.cpp -text
src/inputdvddirectory.h -text
src/inputdvddirectory.ui -text
src/inputmplayerversion.cpp -text
src/inputmplayerversion.h -text
src/inputmplayerversion.ui -text
src/inputurl.cpp -text
src/inputurl.h -text
src/inputurl.ui -text
src/logwindow.cpp -text
src/logwindow.h -text
src/logwindowbase.ui -text
src/main.cpp -text
src/minigui.cpp -text
src/minigui.h -text
src/myaction.cpp -text
src/myaction.h -text
src/myactiongroup.cpp -text
src/myactiongroup.h -text
src/myclient.cpp -text
src/myclient.h -text
src/mycombobox.cpp -text
src/mycombobox.h -text
src/myserver.cpp -text
src/myserver.h -text
src/mytablewidget.cpp -text
src/mytablewidget.h -text
src/old-code/aboutdialog.cpp -text
src/old-code/aboutdialog.h -text
src/old-code/floatingcontrol.cpp -text
src/old-code/floatingcontrol.h -text
src/old-code/main.cpp -text
src/playlist.cpp -text
src/playlist.h -text
src/playlistdock.cpp -text
src/playlistdock.h -text
src/playlistpreferences.cpp -text
src/playlistpreferences.h -text
src/playlistpreferences.ui -text
src/prefadvanced.cpp -text
src/prefadvanced.h -text
src/prefadvanced.ui -text
src/prefassociations.cpp -text
src/prefassociations.h -text
src/prefassociations.ui -text
src/prefdrives.cpp -text
src/prefdrives.h -text
src/prefdrives.ui -text
src/preferencesdialog.cpp -text
src/preferencesdialog.h -text
src/preferencesdialog.ui -text
src/prefgeneral.cpp -text
src/prefgeneral.h -text
src/prefgeneral.ui -text
src/prefinput.cpp -text
src/prefinput.h -text
src/prefinput.ui -text
src/prefinterface.cpp -text
src/prefinterface.h -text
src/prefinterface.ui -text
src/prefperformance.cpp -text
src/prefperformance.h -text
src/prefperformance.ui -text
src/prefsubtitles.cpp -text
src/prefsubtitles.h -text
src/prefsubtitles.ui -text
src/prefwidget.cpp -text
src/prefwidget.h -text
src/recents.cpp -text
src/recents.h -text
src/seekwidget.cpp -text
src/seekwidget.h -text
src/seekwidget.ui -text
src/shortcutgetter.cpp -text
src/shortcutgetter.h -text
src/shortcuts/default.keys -text
src/smplayer.cpp -text
src/smplayer.h -text
src/smplayer.ico -text
src/smplayer.pro -text
src/smplayer.rc -text
src/smplayer_associations.ico -text
src/testcorelib/test.cpp -text
src/testcorelib/test.h -text
src/testcorelib/test.pro -text
src/testcorelib/test2.cpp -text
src/testcorelib/timeslider.cpp -text
src/testcorelib/timeslider.h -text
src/timedialog.cpp -text
src/timedialog.h -text
src/timedialog.ui -text
src/timeslider.cpp -text
src/timeslider.h -text
src/translations/qt_fr.qm -text
src/translations/qt_fr.ts -text
src/translations/smplayer_bg.ts -text
src/translations/smplayer_cs.ts -text
src/translations/smplayer_de.ts -text
src/translations/smplayer_el_GR.ts -text
src/translations/smplayer_en_US.ts -text
src/translations/smplayer_es.ts -text
src/translations/smplayer_eu.ts -text
src/translations/smplayer_fi.ts -text
src/translations/smplayer_fr.ts -text
src/translations/smplayer_hu.ts -text
src/translations/smplayer_it.ts -text
src/translations/smplayer_ja.ts -text
src/translations/smplayer_ka.ts -text
src/translations/smplayer_ko.ts -text
src/translations/smplayer_mk.ts -text
src/translations/smplayer_nl.ts -text
src/translations/smplayer_pl.ts -text
src/translations/smplayer_pt_BR.ts -text
src/translations/smplayer_pt_PT.ts -text
src/translations/smplayer_ro_RO.ts -text
src/translations/smplayer_ru_RU.ts -text
src/translations/smplayer_sk.ts -text
src/translations/smplayer_sr.ts -text
src/translations/smplayer_sv.ts -text
src/translations/smplayer_tr.ts -text
src/translations/smplayer_uk_UA.ts -text
src/translations/smplayer_zh_CN.ts -text
src/translations/smplayer_zh_TW.ts -text
src/translator.cpp -text
src/translator.h -text
src/tristatecombo.cpp -text
src/tristatecombo.h -text
src/version.cpp -text
src/version.h -text
src/verticaltext.cpp -text
src/verticaltext.h -text
src/videoequalizer.cpp -text
src/videoequalizer.h -text
src/widgetactions.cpp -text
src/widgetactions.h -text
src/winfileassoc.cpp -text
src/winfileassoc.h -text
